@use "../utils/_mixins.scss";
@use "../utils/_colors.scss";
.fonctionnement_container {
  display: flex;
  justify-content: center;
  background-color: white;

  h2 {
    margin-top: 48px;
    margin-bottom: 26px;
    padding-left: 40px;
  }
  .fonctionnement {
    counter-reset: steps;
    display: flex;
    flex-direction: column;
    margin-bottom: 68px;
    & ol {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;
      position: relative;
      padding-right: 25px;
      transition: opacity 0.2s ease;
      transition: box-shadow 0.2s ease;
      .liste_fonctionnement {
        &:hover {
          opacity: 0.8;
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.4);
        }
      }
    }
    li {
      &::before {
        content: counter(steps);
        counter-increment: steps;
        color: white;
        background-color: colors.$primary;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        position: absolute;
        left: 20px;
      }

      background-color: rgba(246, 246, 246, 1);
      padding: 28px 28px;
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
      border-radius: 20px;
      font-weight: 500;
      font-size: 16px;
      width: 325px;
      height: 75px;
      @include mixins.base-shadow;
      display: flex;
      align-items: center;

      & .fa-mobile-screen-button {
        color: grey;
      }
      & .fa-list-ul {
        color: grey;
      }
      & .fa-store {
        color: grey;
      }
      & .turn_purple {
        margin-right: 20px;
      }
      &:hover {
        .turn_purple {
          color: colors.$primary;
        }
      }
    }
  }
}

/* MEDIA QUERIES DESKTOP */

@media screen and (min-width: 1080px) {
  .fonctionnement_container {
    .fonctionnement {
      & ol {
        flex-direction: row;
      }
      & li {
        &::before {
          position: relative;
          left: -40px;
        }
      }
    }
  }
}
