@use "../utils/colors.scss";

.restaurants_container {
  background-color: #f6f6f6;
  padding: 0 1rem;
  padding-bottom: 66px;

  & h2 {
    padding-top: 54px;
  }
  .cards_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
    .new {
      position: relative;
    }
    .new::before {
      content: "Nouveau";
      position: absolute;
      height: 30px;
      width: 80px;
      background-color: colors.$tertiary;
      color: #008766;
      border-radius: 2px;
      display: grid;
      place-items: center;
      right: 1rem;
      top: 1rem;
      font-weight: 500;
    }
    .restaurant_card {
      width: 340px;
      height: 250px;
      text-decoration: none;
      color: black;
      border-radius: 20px;
      background-color: white;
      .card_image {
        width: 100%;
        height: 70%;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
      }
      .card_content {
        height: 30%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .card_text {
          margin-top: 16px;
          margin-left: 13px;
          margin-bottom: 10px;

          & h3 {
            margin: 0px;
          }
          & p {
            margin-top: 5px;
            margin-bottom: 12px;
          }
        }
        .fa-heart {
          margin-right: 15px;
          font-size: 20px;
        }
      }
    }
  }
}
