*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
}

h1 {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 14px;
  margin: 0px;
}

.location {
  background-color: var(--Grey-2, #eaeaea);
  text-align: center;
  padding: 15px;
  padding-left: 80px;
  display: flex;
  gap: 17px;
  justify-content: center;
  align-items: center;
}
.location .location_city {
  margin: 0px;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--Grey-2, #eaeaea);
  border: none;
}
@media screen and (min-width: 1080px) {
  .location .location_city {
    font-weight: 700;
  }
}

.explorer_restaurants {
  text-align: center;
  background-color: #f6f6f6;
  padding-bottom: 57px;
}
.explorer_restaurants h2 {
  margin-top: 0px;
  padding-top: 40px;
  font-size: 24px;
  font-weight: 700;
  padding-inline: 50px;
}
.explorer_restaurants p {
  font-size: 18px;
  margin-bottom: 27px;
  font-weight: 300;
  padding-inline: 25px;
}
.explorer_restaurants button {
  font-size: 16px;
  padding: 14px 19px 14px 19px;
  border-radius: 25px;
  background-image: linear-gradient(to top, #9356dc -11.44%, #ff79da 123.93%);
  color: white;
  margin: 0px;
  border: none;
  font-weight: 500;
  transition: opacity 0.2s ease;
  transition: box-shadow 0.2s ease;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.explorer_restaurants button:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.4);
}

/*MEDIA QUERIES DESKTOP */
@media screen and (min-width: 1080px) {
  .explorer_restaurants h2 {
    font-size: 40px;
  }
}

.fonctionnement_container {
  display: flex;
  justify-content: center;
}
.fonctionnement_container h2 {
  margin-top: 48px;
  margin-bottom: 26px;
  padding-left: 28px;
}
.fonctionnement_container .fonctionnement {
  counter-reset: steps;
  display: flex;
  flex-direction: column;
  margin-bottom: 68px;
}
.fonctionnement_container .fonctionnement ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  position: relative;
}
.fonctionnement_container .fonctionnement li {
  background-color: rgb(246, 246, 246);
  padding: 28px 28px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  font-weight: 500;
  font-size: 16px;
  width: 325px;
  height: 75px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
}
.fonctionnement_container .fonctionnement li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356dc;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  position: absolute;
  left: 20px;
}
.fonctionnement_container .fonctionnement li .fa-mobile-screen-button {
  color: grey;
}
.fonctionnement_container .fonctionnement li .fa-list-ul {
  color: grey;
}
.fonctionnement_container .fonctionnement li .fa-store {
  color: grey;
}
.fonctionnement_container .fonctionnement li .turn_purple {
  margin-right: 20px;
}
.fonctionnement_container .fonctionnement li:hover .turn_purple {
  color: #9356dc;
}

/* MEDIA QUERIES DESKTOP */
@media screen and (min-width: 1080px) {
  .fonctionnement_container .fonctionnement ol {
    flex-direction: row;
  }
  .fonctionnement_container .fonctionnement li::before {
    position: relative;
    left: -40px;
  }
}
.section_restaurants {
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
}
.section_restaurants .restaurants_container {
  padding-bottom: 66px;
}
.section_restaurants .restaurants_container h2 {
  padding-top: 30px;
  margin-top: 0px;
}
.section_restaurants .restaurants_container .cards_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 18px;
}
.section_restaurants .restaurants_container .cards_container .new {
  position: relative;
}
.section_restaurants .restaurants_container .cards_container .new::before {
  content: "Nouveau";
  position: absolute;
  height: 30px;
  width: 80px;
  background-color: #99e2d0;
  color: #008766;
  border-radius: 2px;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
  font-weight: 500;
}
.section_restaurants .restaurants_container .cards_container .restaurant_card {
  width: 340px;
  height: 250px;
  text-decoration: none;
  color: black;
  border-radius: 20px;
  background-color: white;
}
.section_restaurants .restaurants_container .cards_container .restaurant_card .card_image {
  width: 100%;
  height: 70%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.section_restaurants .restaurants_container .cards_container .restaurant_card .card_content {
  height: 30%;
  position: relative;
}
.section_restaurants .restaurants_container .cards_container .restaurant_card .card_content .card_text {
  margin-top: 16px;
  margin-left: 13px;
  margin-bottom: 10px;
}
.section_restaurants .restaurants_container .cards_container .restaurant_card .card_content .card_text h3 {
  margin: 0px;
}
.section_restaurants .restaurants_container .cards_container .restaurant_card .card_content .card_text p {
  margin-top: 5px;
  margin-bottom: 12px;
}
.section_restaurants .restaurants_container .cards_container .restaurant_card .card_content i {
  margin-right: 15px;
  font-size: 24px;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-140%);
}
.section_restaurants .restaurants_container .cards_container .restaurant_card .card_content .fa-solid {
  margin-right: 15px;
  font-size: 24px;
  color: transparent;
  position: absolute;
  background-image: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.section_restaurants .restaurants_container .cards_container .restaurant_card .card_content .fa-solid:hover {
  opacity: 1;
}

/* MEDIA QUERIES DESKTOP */
@media screen and (min-width: 1080px) {
  .section_restaurants .restaurants_container h2 {
    margin-left: 50px;
  }
  .section_restaurants .restaurants_container .cards_container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  .section_restaurants .restaurants_container .cards_container .new {
    position: relative;
  }
  .section_restaurants .restaurants_container .cards_container .restaurant_card {
    width: 490px;
    margin-left: 50px;
  }
}
footer {
  background-color: rgb(53, 53, 53);
  color: white;
  padding: 22px 25px 22px 25px;
}
footer h2 {
  margin: 0px;
  font-family: "Shrikhand", cursive;
  font-size: 18px;
}
footer .text_footer {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 16px;
}
footer .text_footer a {
  text-decoration: none;
  color: white;
}
footer .text_footer i {
  margin-right: 11px;
}

/*# sourceMappingURL=style.css.map */
