@use "../utils/_colors.scss";
@use "../utils/_mixins.scss";

.header_restaurant-page {
  align-items: center;
  font-family: "Shrikhand", cursive;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 14px;
  position: relative;

  h1 {
    margin: 0px;
    text-align: center;
  }

  & a {
    font-size: 22px;
    color: black;
    position: absolute;
    top: 22px;
  }
}

.banner {
  width: 100%;
}

main {
  border-radius: 25px 25px 0px 0px;
  margin-top: -55px;
  position: relative;
  background-color: #f6f6f6;
  .restaurant_name {
    position: relative;
    display: flex;
    padding-inline: 17px;
    h2 {
      margin-top: 30px;
      margin-bottom: 40px;
      font-family: "Shrikhand", cursive;
    }
    .restaurant_heart {
      i {
        margin-right: 15px;
        font-size: 24px;
        position: absolute;
        right: 1rem;
        top: 75%;
        transform: translateY(-140%);
      }
      .fa-solid {
        margin-right: 15px;
        font-size: 24px;
        color: transparent;
        background-image: linear-gradient(colors.$primary, colors.$secondary);
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: opacity 0.2s ease;
      }
      .fa-solid:hover {
        opacity: 1;
      }
    }
  }
  .section_menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 40px;
    .section_entrees {
      padding-inline: 12px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      & h3 {
        margin: 0px;
        font-weight: 300;
        text-decoration: underline green;
      }
      .meal {
        background-color: white;
        border-radius: 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px;
        @include mixins.base-shadow;

        .meal_text {
          h4 {
            margin: 0px;
            margin-bottom: 5px;
            font-size: 18px;
            width: 270px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
          p {
            width: 270px;
            margin: 0px;
            font-size: 15px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
        .price {
          padding-top: 20px;
          font-weight: 700;
        }
      }
    }
  }
  .button_container {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    .button_order {
      font-size: 16px;
      padding: 14px 19px 14px 19px;
      border-radius: 25px;
      background-image: linear-gradient(
        to top,
        colors.$primary -11.44%,
        colors.$secondary 123.93%
      );
      color: white;
      margin: 0px;
      border: none;
      font-weight: 500;
      transition: opacity 0.2s ease;
      transition: box-shadow 0.2s ease;
      @include mixins.base-shadow;
    }
  }
}
