@use "../utils/_colors.scss";
@use "../utils/_mixins.scss";

.header_restaurant-page {
  align-items: center;
  font-family: "Shrikhand", cursive;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 14px;
  position: relative;

  h1 {
    margin: 0px;
    text-align: center;
  }

  & a {
    font-size: 22px;
    color: black;
    position: absolute;
    top: 22px;
  }
}

.banner {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

#main_in_menu {
  border-radius: 25px 25px 0px 0px;
  margin-top: -55px;
  position: relative;
  background-color: #f6f6f6;
  .restaurant_name {
    position: relative;
    display: flex;
    padding-inline: 17px;
    h2 {
      margin-top: 30px;
      margin-bottom: 40px;
      font-family: "Shrikhand", cursive;
    }
    .restaurant_heart {
      i {
        margin-right: 15px;
        font-size: 24px;
        position: absolute;
        right: 1rem;
        top: 68%;
        transform: translateY(-140%);
      }
      .fa-solid {
        margin-right: 15px;
        font-size: 24px;
        color: transparent;
        background-image: linear-gradient(colors.$primary, colors.$secondary);
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: opacity 0.2s ease;
      }
      .fa-solid:hover {
        opacity: 1;
      }
    }
  }
  .section_menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 40px;
    .section_entrees {
      padding-inline: 12px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      position: relative;
      & h3 {
        margin: 0px;
        font-weight: 300;
        margin-bottom: 7px;

        &::after {
          content: "";
          height: 3px;
          width: 45px;
          background-color: colors.$tertiary;
          position: absolute;
          top: 25px;
          left: 13px;
        }
      }
      .meal {
        background-color: white;
        border-radius: 25px;
        display: flex;
        flex-direction: row;
        @include mixins.base-shadow;
        justify-content: space-between;
        transition: box-shadow 0.2s;

        .meal_text {
          padding: 15px;
          overflow: hidden;

          h4 {
            margin: 0px;
            margin-bottom: 5px;
            font-size: 18px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
          p {
            margin: 0px;
            font-size: 15px;
            text-overflow: ellipsis; // Cette propriété permet de mettre "..." quand le texte est trop long et est écrasé par un autre élément
            white-space: nowrap; // Cette propriété empêche le texte de revenir à la ligne
            overflow: hidden; // Cette propriété permet de cacher le contenu qui est en dehors du container
          }
        }
        .price_and_check {
          display: flex;
          overflow: hidden;
          flex-shrink: 0; // Cette propriété évite que le "check" devienne plus petit en version mobile
          .price {
            padding-top: 20px;
            font-weight: 700;
            padding: 15px;
            display: flex;
            align-items: end;
            justify-content: end;
          }
          .check {
            width: 60px;
            margin-right: -60px;
            background-color: colors.$tertiary;
            border-radius: 0px 25px 25px 0px;
            transition: margin-right 0.5s;
            display: flex;
            justify-content: center;
            align-items: center;
            .fa-check {
              display: grid;
              place-items: center;
              color: colors.$tertiary;
              background-color: white;
              font-size: 20px;
              aspect-ratio: 1; // Cette propriété s'utilise quand on veut que le width et le height aient la même valeur

              width: 25px;
              border-radius: 50%;
            }
          }
        }
        &:hover {
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.4);

          .check {
            margin-right: 0px;
          }
        }
      }
    }
  }
  .button_container {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    .button_order {
      font-size: 16px;
      padding: 14px 19px 14px 19px;
      border-radius: 25px;
      background-image: linear-gradient(
        to top,
        colors.$primary -11.44%,
        colors.$secondary 123.93%
      );
      color: white;
      margin: 0px;
      border: none;
      font-weight: 500;
      transition: opacity 0.2s ease;
      transition: box-shadow 0.2s ease;
      @include mixins.base-shadow;
      &:hover {
        opacity: 0.8;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.4);
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1135px) {
  #main_in_menu {
    margin-top: -35px;
    margin-inline: 60px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    .restaurant_name {
      display: flex;
      justify-content: center;
      padding-right: 0px;
      .restaurant_heart {
        position: relative;
        left: 100px;
        bottom: 10px;
        top: 0px;
      }
    }
    .section_menu {
      padding-inline: 100px;
    }
  }
  .banner {
    height: 390px;
    object-fit: cover;
    object-position: 0% 60%;
  }
}

@media screen and (min-width: 1135px) {
  #main_in_menu {
    margin-top: -35px;
    margin-inline: 192px;
    .restaurant_name {
      display: flex;
      justify-content: center;
      padding-right: 0px;
      .restaurant_heart {
        position: relative;
        left: 100px;
        bottom: 10px;
        top: 0px;
      }
    }
    .section_menu {
      padding-inline: 200px;
    }
  }
  .banner {
    height: 390px;
    object-fit: cover;
    object-position: 0% 60%;
  }
}
