@use "../utils/_mixins.scss";
@use "../utils/_colors.scss";

.explorer_restaurants {
  text-align: center;
  background-color: #f6f6f6;
  padding-bottom: 57px;
  & h2 {
    margin-top: 0px;
    padding-top: 40px;
    font-size: 24px;
    font-weight: 700;
    padding-inline: 50px;
  }
  & p {
    font-size: 18px;
    margin-bottom: 27px;
    font-weight: 300;
    padding-inline: 25px;
  }
  & button {
    font-size: 16px;
    padding: 14px 19px 14px 19px;
    border-radius: 25px;
    background-image: linear-gradient(
      to top,
      colors.$primary -11.44%,
      colors.$secondary 123.93%
    );
    color: white;
    margin: 0px;
    border: none;
    font-weight: 500;
    transition: opacity 0.2s ease;
    transition: box-shadow 0.2s ease;
    @include mixins.base-shadow;
  }
  & button:hover {
    opacity: 0.8;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }
}

/*MEDIA QUERIES DESKTOP */

.explorer_restaurants {
  & h2 {
    @media screen and (min-width: 1080px) {
      font-size: 40px;
    }
  }
}
