.location {
  background-color: var(--Grey-2, #eaeaea);
  text-align: center;
  padding: 15px;
  padding-left: 80px;
  display: flex;
  gap: 17px;
  justify-content: center;
  align-items: center;
  .location_city {
    margin: 0px;
    font-size: 16px;
    font-weight: 500;
    background-color: var(--Grey-2, #eaeaea);
    border: none;
    outline: none;
    @media screen and (min-width: 1080px) {
      font-weight: 700;
    }
  }
}
